@media (-webkit-min-device-pixel-ratio: 1.25) and (min-width: 1025px) and (max-width: 1919px) {
  
  .sec1 .scroll-rec .scroll {
    height: 85px !important;
  }
  .sec6 {
    .slider .slider-container {
      .slider-item {
        .education p {
          font-size: 18px !important;
        }
      }
    }
  }
  .modal{
    transform: scale(0.9);
  }
}
